// ion-slides {
//   margin-top:30%;
//  // background: #e6e6e6;

//   img {
//     padding-top:20px;
//    // padding-bottom: 20px;
//   }
// }


// Row 1 Col 1
.col-one-border{
  overflow: auto;
  //float: left;
  display: block;
  width: 95%;
  height: 500px;
  padding: 0px;
}


.img-avatar {
  width: 450px;
  height: 450px;
}